.container {
  max-width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  // margin: 0rem auto 0rem;
  z-index: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 1rem 0;
  background: #000;
  color: #0f0;
  box-shadow: none;
}

.backToHome {
  margin: 3rem;
}

.headerheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0.5rem;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 25px;
  
} 

.content {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 20px;
  a {
    color: #333; 
    text-decoration: none;
  }
}
.layoutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 0.5rem 0;
  position: relative;
  box-sizing: border-box;

  .component {
    height: 75px; // Reduced size
    width: 75px; // Reduced size
  }

  .centeredComponents {
    display: flex;
    gap: 10px;
  }
}

.before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.9);
    filter: blur(2px);
    // animation: fadeInOut 8s ease-in-out infinite;
    // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

  }
}