@import "../styles/variables.scss";

.hero {
  padding: 3rem 0;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
  
  .left,
  .right {
    flex: 1;
    padding: 0 1rem;
  }

  .pink {
    color:var(--color-primary )
  }
  
  .left {
    display: flex;
    position: relative;
    z-index: 2;
  }

  .blogLeft, .blogRight {
    flex: 1;
  }

  .blogContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start; /* Adjust as needed */
    flex-wrap: wrap;
  }
  
  
  .text {
    padding: 2rem 0;

    h1 {
      font-weight: 700;
      max-width: 480px;
    }
  }

.heroTitle {
  font-size: 3rem;
  background: linear-gradient(90deg, var(--color-secondary), var(--color-primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}


.articles {
  border-top: 1px solid var(--color-gray-vlight);
  padding: 38px 0;
  display: flex;
  flex-direction: row;
  gap: 32px 32px;
  h6 {
    margin-bottom: 8px;
    font-weight: 400;
  }
  .docs {
    flex: 1;
    .doc {
      margin-bottom: 16px;
      a {
        font-size: var(--font-size-h4);
      }
      .subtitle {
        margin-top: 2px;
        color: var(--color-gray);
        font-size: var(--font-size-small);
      }
    }
  }
  .user_articles {
    flex: 1;
    .user_article {
      margin-bottom: 16px;
      .title {
        font-weight: bold;
        color: var(--color-black);
        font-size: var(--font-size-h4);
        &:hover {
          text-decoration: underline;
        }
      }
      .subtitle {
        margin-top: 2px;
        color: var(--color-gray);
        font-size: var(--font-size-small);
      }
      .written {
        margin-right: 0.5em;
      }
    }
  }
}
.imageSection {
  padding-top: 60px; /* Adjust padding as needed */
  padding-bottom: 60px; /* Adjust padding as needed */
}

.imageContainer {
  width: 100%; /* Full width of the container */
  max-width: none; /* Override any parent max-width */
}

.imageContainer img {
  display: block; /* Ensure image is a block-level element */
  width: 100%; /* Make image take full width of its container */
  height: auto; /* Keep aspect ratio */
}

.iframeContainer {
  overflow: hidden;
  position: relative;
  width: 100vw; // 100% of the viewport width
  height: 33.33vw; // Maintains a 3:1 aspect ratio

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%; 
    height: 300%;
    transform: translate(-50%, -50%) ;
  }
}


.spacer {
  width: 100%;      /* Takes full width of the container */
  height: 50px;     /* 50 pixels high */
  background-color: transparent; /* Ensures the div is invisible */
}